*.DS_Store
inputs/*
outputs/*
netlogo/temp/*
netlogo/array
netlogo/logfile.txt
netlogo/summary.txt
netlogo/dynamic-scheduler
netlogo/*-out.csv
netlogo/params.txt
netlogo/params-*
headless/bin
headless/.classpath
headless/lib/*.jar
pevi-conf.R
netlogo/profiler
netlogo/structs
netlogo/table
*.Rapp.history
